:root {
  --primary-color: rgb(52, 55, 60);
  --secondary-color: #990000;
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Libre Baskerville", serif;
}

.hero {
  padding: 120px 0 40px 0;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--primary-color);
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: italic;
}

.App .contact-btn {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  border: 1.5px solid var(--secondary-color);
  color: var(--secondary-color);
}

.App .contact-btn:hover {
  color: #800000;
}

.custom-heading {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 18px;
  margin: 25px 0;
}

img {
  border-radius: 6px;
}

.footer-text {
  text-align: center;
  margin-top: 80px;
  font-size: 13px;
  color: var(--primary-color);
  opacity: 0.7;
}

.footer-text a {
  color: var(--secondary-color);
}
