.footer {
  text-align: center;
  margin-top: 100px;
}

.social-links i {
  margin: 0 8px;
  color: var(--primary-color);
  background-color: #f4efea;
  padding: 10px;
  border-radius: 50px;
}

.contact-box {
  background-color: #f4efea;
  padding: 30px 70px;
  border-radius: 8px;
}

.email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
}

.email-link:hover {
  color: var(--secondary-color);
}

.footer .contact-btn {
  color: white;
  background-color: var(--secondary-color);
}

.footer .contact-btn:hover {
  border: 1.5px solid var(--secondary-color);
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 28px;
}

.container .footer .contact-btn {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  border: 1.5px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: #f4efea;
}

.container .footer .contact-btn:hover {
  color: var(--secondary-color);
  border: 1.5px solid var(--secondary-color);
  background-color: #f4efea;
}
